@import '../../styles/settings.scss';

.card {
    position: relative;
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    padding: $base-size;
    margin: 0 0 $base-size 0;
    border-radius: $radius;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.div {
    display: flex;
}

.btnStar {
    background-color: #fff;
    border: none;
    flex: 50%;
    
    &.active {
        color: $color-warning;
    }
}

.btnTrash {
    background-color: #fff;
    border: none;
    color: gray;
}

.btnTrash:hover {
    color: black;
    cursor: pointer;
}