@import "../../styles/settings.scss";

.nav {
    background-color: darken($color-dark, 3%);
    transform: translateY(-30%);
    height: 7vh;

    .wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        
        .navBrand {
            flex: 80%;
            transform: translateY(50%);

            .a {
                color: white;
                text-decoration: none;
                font-size: 24px;
                
                .span {
                    font-size: 0;
                }
            }
        }

        .navList {
            flex: 20%;
            transform: translateY(30%);

            .ul {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                list-style: none;
                text-align: center;

                .li {
                    flex: 33.3%;
                    font-weight: bold;
                    a {
                        color: white;
                        text-decoration: none;
                    }

                    .linkActive {
                        color: $color-warning;
                    }
                }
            }
        }
    }
}